/* style for App.js */
body {
    background-color: #022c43;
}

.container {
    margin: 0 auto;
    text-align: center;
    max-width: 1200px;
    width: 60%;
    display: flex;
    flex-direction: column;
}

.calculator {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.operators  {
    display: flex;
    flex-direction: column;
    height: 238px;
    background: #115173;
    border: 1px solid #022c43;
}

.operators button {
    background: #115173;
    color: #d7c79e;
    font-size: 2em;
    width: 60px;
    height: 60px;
    padding: 5px;
    border: none;
}

.numbers {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 180px;
}

.numbers button {
    padding: 15px;
    background: #053f5e;
    color: #d7c79e;
    font-size: 1.5em;
    width: 60px;
    height: 60px;
    padding: 5px;
    border: 1px solid #022c43;
}

.equal {
    width: 75%;
}

.equal button {
    background:#ffd700;
    color: #022c43;
    font-size: 2em;
    height: 80px;
    width: 100%;
    border-bottom-right-radius: 20px;
    border: 1px solid #022c43;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.delete-button {
    height: 80px;
    width: 25%;
    border: 1px solid #022c43;
    color: #d7c79e;
    background: #115173;
    border-bottom-left-radius: 20px;
    background-size: 50%;
}

.bottom {
    display: flex;
    justify-content: space-between;
    width: 242px;
    margin: 0 auto;
    height: 80px;
}